ul li{color:gold; list-style:none; display:inline-block;}

body{font-family:Helvetica,Arial,sans-serif;
     margin:0; }

h1{color:white;}
.main{background-color:skyblue;
      color:white; 
      text-align:center;
      padding:100px 0;}
   
.boxes{margin-top:-30px;
        justify-content:space-around;
        display:flex;}

img{height:50px; 
    width:50px;}

.red{background-color:red; 
     border-radius:12px; 
     color:white}
     
.box{
     height:120px; width:100px; 
     margin:3px;
     box-shadow:0 3px 0 5px white;
     text-align:center;
     font-size:8px;
    background-color:white;}
    
  