ul li{list-style:none; 
    display:inline-block;
    margin-right:20px;}

body{font-family:Helvetica,Arial,sans-serif;
     margin:0; }

h1{color:white;}

.main{background-color:skyblue;
      color:white;
      margin-top:30px;
      text-align:center;
      padding:130px 0;}
   
.boxes{margin-top:-30px;
        justify-content:space-around;
        display:flex;}

img{height:50px; 
    width:50px;}

.red{background-color:red; 
     border-radius:50px;
     border:none;
     text-align:center;
     box-shadow:1px 1px 2px rgba(0,0,0,2);
     padding:4px 20px;
     color:white;}
     
.box{height:150px; 
     width:120px; 
     margin:3px;
     box-shadow:0 3px 0 5px white;
     text-align:center;
     font-size:15px;
    background-color:white;}
    
  ul li a{text-decoration:none;
         color:black;
         position:relative;
         right:-800px;
         border:ridge;}